{% extends 'base.html.twig' %}

{% block title %}{{ 'account.index.title'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-striped table-dark text-center table-hover">
            <thead>
                <tr>
                    <th>{{ 'account.index.table.name'|trans }}</th>
                    <th>{{ 'account.index.table.nickname'|trans }}</th>
                    <th>{{ 'account.index.table.email'|trans }}</th>
                    <th>{{ 'account.index.table.nb_games'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% if accounts|length > 0 %}
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.nickname }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.libraries|length }}</td>
                        <td>
                            <a href="{{ path('account_show', {'name': account.name}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">{{ 'account.index.table.empty'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
