{% extends 'base.html.twig' %}

{% block title %}Les comptes{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-striped table-dark text-center table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Email</th>
                    <th>Nb games</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% if accounts|length > 0 %}
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.nickname }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.libraries|length }}</td>
                        <td>
                            <a href="{{ path('account_show', {'name': account.name}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Pas de comptes</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
