{% extends 'base.html.twig' %}

{% block title %}
    {{ 'account.show.title'|trans({'%name%': account.name}) }}
{% endblock %}

{% block body %}

    <br>
    <div class="container">
        <div class="mx-auto my-2">
            <table>
                <tbody>
                    <tr>
                        <th>{{ 'account.index.table.name'|trans }}</th>
                        <td>{{ account.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'account.index.table.email'|trans }}</th>
                        <td>{{ account.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'account.index.table.nickname'|trans }}</th>
                        <td>{{ account.nickname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'account.index.table.wallet'|trans }}</th>
                        <td>{{ account.wallet }}€</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            {% for lib in account.libraries %}
                {% include 'common/partials/_account_library.html.twig' with
                    {
                        'lib': lib,
                        'classCss': 'col-20 col-md-4',
                        'containerImage': 'container-image'
                    }
                %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

