{% extends 'base.html.twig' %}

{% block title %}
    {{ 'account.show.title'|trans({'%name%': account.name}) }}
{% endblock %}

{% block body %}

    <br>
    <div class="container">
        <div class="text-center">
            <h4>{{ 'account.index.table.name'|trans }}</h4>
            <p>{{ account.name }}</p>
            <h4>{{ 'account.index.table.email'|trans }}</h4>
            <p>{{ account.email }}</p>
            <h4>{{ 'account.index.table.nickname'|trans }}</h4>
            <p>{{ account.nickname }}</p>
            <h4>{{ 'account.index.table.wallet'|trans }}</h4>
            <p>{{ account.wallet }}</p>
        </div>
        <div class="row">
            {% for lib in account.libraries %}
                <div class="col-20">
                    {{ lib.game.name }}
                    {{ lib.timeConverter }}
                </div>
{#                {% include 'common/partials/game-card.html.twig' with#}
{#                    {#}
{#                        'game': lib.game,#}
{#                        'classCss': 'col-20 col-md-4',#}
{#                        'containerImage': 'container-image'#}
{#                    }#}
{#                %}#}
            {% endfor %}
        </div>
    </div>

{% endblock %}

