{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}

    <div class="container my-1">
        <h2 class="my-1">{{ 'home.menu.most_games'|trans }}</h2>
        <div class="row">
            {% include 'common/partial/game_loop.html.twig' with
                {
                    'games': alphaGames,
                    'classCss': 'col-20 col-md-4',
                    'containerImage': 'container-image'
                }
            %}
        </div>

        <h2 class="my-1">{{ 'home.menu.recent_games'|trans }}</h2>
        <div class="row">
            {% include 'common/partial/game_loop.html.twig' with
                {
                    'games': lastPublishedGames,
                    'classCss': 'col-lg-3 col-md-6',
                    'containerImage': 'container-image-higher'
                }
            %}
        </div>

        <h2 class="my-1">{{ 'home.menu.last_comments'|trans }}</h2>
        <div class="row">
            {% include 'common/partial/comment_loop.html.twig' with
                {
                    'comments': lastComments,
                    'classCss': 'col-lg-3 col-md-6'
                }
            %}
        </div>

        <h2 class="my-1">{{ 'home.menu.most_played'|trans }}</h2>
        <div class="row">
            {% include 'common/partial/game_loop.html.twig' with
                {
                    'games': mostPlayedGames,
                    'classCss': 'col-20 col-md-4',
                    'containerImage': 'container-image'
                }
            %}
        </div>
    </div>

{% endblock %}
