{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}

    <div class="container">
        <a class="btn btn-info my-2" href="{{ path('genre_create') }}">
            {{ 'genre.index.create'|trans }}
        </a>
        <table class="table table-striped table-dark text-center table-hover">
            <thead>
            <tr>
                <th>{{ 'genre.index.table.name'|trans }}</th>
                <th>{{ 'genre.index.table.slug'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if genres|length > 0 %}
                {% for genre in genres %}
                    <tr>
                        <td>{{ genre.name }}</td>
                        <td>{{ genre.slug }}</td>
                        <td>
                            <a class="logo-link" href="{{ path('genre_edit', {'slug': genre.slug}) }}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="logo-link" href="{{ path('genre_show', {'slug': genre.slug}) }}">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">{{ 'genre.index.table.empty'|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
