{% extends 'base.html.twig' %}

{% block title %}
    {{ game.name|upper }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-4">
                <img class="img-100" src="{{ game.thumbnailCover }}" alt="{{ game.name }}">
            </div>
            <div class="col-8">
                <h1 class="text-center">{{ game.name }}</h1>
                <div>
                    {% for genre in game.genres %}
                        <a href="{{ path('game_genre', {'slug': genre.slug }) }}" class="text-decoration-none">
                            <span class="game-item">{{ genre.name }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="my-4">
                    {% for country in game.countries %}
                        <img src="{{ country.urlFlag }}">
                    {% endfor %}
                </div>
                <div class="game-description">
                    {{ game.description|raw }}
                </div>
                <div class="game-price mt-4">
                    {{ game.price }}€
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <h4 class="text-center col-10 offset-1">{{ 'game.show.all_comments'|trans }}</h4>
                <a class="btn btn-info col-1" href="{{ path('comments_game', {'slug': game.slug}) }}">
                    {{ 'general.see_all'|trans }}
                </a>
            </div>
            <div class="row">
                {% include 'common/partials/comment_loop.html.twig' with
                    {
                        'isHidden': 1,
                        'comments': game.comments[0:10],
                        'classCss': 'col-20'
                    }
                %}
            </div>
        </div>
        <div class="mt-4">
            <h4 class="text-center">{{ 'game.show.related_games'|trans }}</h4>
            <div class="row">
                {% include 'common/partials/game_loop.html.twig' with
                    {
                        'games': relatedGames,
                        'classCss': 'col-20',
                        'containerImage': 'container-image',
                        'genreDisplayed': true
                    }
                %}
            </div>
        </div>
    </div>
{% endblock %}

