
{% for game in games %}
    <a href="{{ path('game_show', {'id': game.id}) }}" class="{{ classCss }} my-2">
        <div class="card-game">
            <div class="container-image">
                <img class="img-fluid" src="{{ game.thumbnailCover }}">
                <div class="container-price">
                    <div class="price">
                        {{ game.price }}€
                    </div>
                </div>
            </div>
            <div class="card-bottom">
                <span>
                    {{ game.name }}
                </span>
            </div>
        </div>
    </a>
{% endfor %}
